*{
    box-sizing: border-box;
}
body{
    margin:0;
    font-family:Verdana, Arial, Helvetica;
    font-size:18px;
}
/*Below code related to hamburger menu*/
.navbar {
    background-color: black;
    height: 83px;
    overflow: hidden;
    width: 100%;
    position:fixed;
    z-index:1;
}

.navbar a {
    float: left;
    display: block;
    padding: 14px 16px;
    font-size: 17px;
    color: white;
    text-align: center;
    text-decoration: none;
}

.navbar ul {
    list-style: none;
    margin: 8px 0 0 0;
}

.navbar ul li {
    margin-left: 35px;
    color: white;
}

.navbar a:hover {
    color: red;
}

.side-nav {
    width: 0;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.1s;
}

.side-nav a {
    padding: 30px 0 0 40%;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.1s;
}

.side-nav a:hover {
    color: red;
}

.side-nav .btn-close {
    position: absolute;
    top: 0;
    right: 22px;
    margin-left: 50px;
    font-size: 36px;
}
/*Above code related to hamburger menu*/

/*Below code for banner*/
#main {
    overflow: auto;  
    padding-bottom: 20px;
    padding-top: 83px;
}
.banner{
    width:100%;
    height:auto;
}

.banner_img{
    width:100%;
    height:auto;
}

.column {
    width: 80%;
    margin-left:10%;
}

.factory_img{
    width:100%;
}

.price {
    list-style-type: none;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    animation: prod_anime;
    animation-duration: 3s;
    animation-timing-function: ease;
}


.price:hover {
    box-shadow: 0 8px 12px 0 rgba(133, 77, 77, 0.2);
}

@keyframes prod_anime{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.price .header {
    background-color: #111;
    color: white;
}


.price li {
    border-bottom: 1px solid #eee;
    padding: 12px 0;
    text-align: center;
}

.price .grey {
    background-color: #eee;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.quality_img{
    display: inline-block;
    width:40%;
    margin-top:25px;
}

.img_q{
    width:80%;
    margin-left:20%;
    height:auto;
}

.content{
    display:inline-block;
    width:50%;
    margin:0px auto 20px auto;
}

@keyframes boxes {
    0% {
        width: 0;       
    }

    100% {
        width:100%;
    }
}

.box {
    width: 100%;
    background-color: #ddd;
    position:relative;
    animation-duration: 2s;
    animation-timing-function: ease;
}
.box.animate{
    animation-name: boxes;
}

.quality {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    z-index:1000;
}

.size {
    width: 100%;
    background-color: green;
}

.weight {
    width: 100%;
    background-color: blue;
}

.not_second {
    width: 100%;
    background-color: red;
}

.certified {
    width: 100%;
    background-color:rgb(145, 235, 12);
}

.article{
    width:80%;
    margin:10px auto;
    text-indent: 20px;
    padding:20px;
    background-color:darkcyan;
    color:white;
}

.coupon_content{
    display: flex;
    width:80%;
    margin-left:10%;
}

.img_coupon{
    width:305px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.coupon {
    width: 305px;
    margin:20px auto;
    max-width: 600px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}


.container {
    padding: 2px 16px;
    background-color: #f1f1f1;
    border-radius: 10px;
}

.promo {
    background: #ccc;
    padding: 3px;
}

.expire {
    color: red;
}


/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    font-size:12px;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: red;
    color: white;
}

.modal-body {
    padding: 2px 16px;
    color:black;
}

.inline-icon {
    vertical-align: bottom;
    font-size: 20px !important;
}

.footer {
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;
    padding:10px;
    font-size: 12px;
    font-weight:700;
}

.footer_content{
    display:flex;
}

.address {
    width: 30%;
    margin-left: 8%;
    text-align:left;
}

.phones {
    width: 30%;
    text-align: left;
    margin-left:5%;
}

.working {
    width: 30%;
    text-align: left;
}

@media (max-width:600px){    

    .columns {
            width: 100%;
    }

    .quality_img{
        display:block;
        width:90%;
        text-align:center;
        margin-left:5%;
    } 
    .content{
        display:block;
        width:80%;
    } 
    .img_q{
        width:100%;
        margin-left:0;
    }
    .footer_content {
        display: block;
    }
    .address{
        width:90%;
        margin-left:5%;
    }
    .phones{
        width:90%;
        margin-left: 5%;
        margin-top:30px;
    }
    .working{
        width:90%;
        margin-left: 5%;
        margin-top:30px;
    }

    .coupon_content{
        display:block;
    }    

}
